# Supabase Configuration
# Get these from your Supabase project settings > API
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVybXFubHloZWxvb3p1YXB5bml6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzU0OTYsImV4cCI6MjA5MDYxMTQ5Nn0.eFsMxbmq0_fcZw1T7GWJ-KOr26UBcjLlDlIPKONlt5A
#*5@Nvek#$Rh4,k
NEXT_PUBLIC_SUPABASE_URL=https://ermqnlyheloozuapyniz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_JiFWiU_KQZUKnm6G0-PD-Q_LKPf80at
